extends layout

block content
    h1= word.word
    
    p Phonemes: 
    if word.phonemes
        each phoneme in word.phonemes
            a(href=phoneme.url) #{phoneme.phoneme}
            | 
    
    if word.graphemes
        p Graphemes: #{word.graphemes.join(", ")}
    if word.syllables
        p Syllables: #{word.syllables.join(", ")}
    
    p Description: #{word.description}
    if word.meta
        p Meta Tags: #{word.meta.join(", ")}
    
    a.btn.btn-primary(href=word.url + "/update") Change Word
